<<<<<<< HEAD
<h1>Danh sách bài viết</h1>
<ul>
    {{#each articles}}
    <li>{{this.title}} - {{this.content}}</li>
    {{/each}}
=======
<h1>Danh sách bài viết</h1>
<ul>
    {{#each articles}}
    <li>{{this.title}} - {{this.content}}</li>
    {{/each}}
>>>>>>> hao_main
</ul>